{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("description.title"), form.errors) }}
{% endblock %}

{% block mainContent %}

  {{ govukBackLink({
    text: messages("site.back")
  }) }}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ messages("description.title") }}
      </h1>

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form action="{{ routes.controllers.DescriptionController.onSubmit(mode).url }}" method="post">

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('description.descriptionOne'),
              isPageHeading: true,
              classes: "govuk-label"
            },
            id: "descriptionOne",
            name: "descriptionOne",
            value: form.descriptionOne.value,
            errorMessage: form.descriptionOne.error
          }) }}

          {{ govukInput({
              label: {
                text: messages('description.descriptionTwo'),
                isPageHeading: true,
                classes: "govuk-label"
              },
              id: "descriptionTwo",
              name: "descriptionTwo",
              value: form.descriptionTwo.value,
              errorMessage: form.descriptionTwo.error
            }) }}

          {{ govukInput({
              label: {
                text: messages('description.descriptionThree'),
                isPageHeading: true,
                classes: "govuk-label"
              },
              id: "descriptionThree",
              name: "descriptionThree",
              value: form.descriptionThree.value,
              errorMessage: form.descriptionThree.error
            }) }}

          {{ govukInput({
              label: {
                text: messages('description.descriptionFour'),
                isPageHeading: true,
                classes: "govuk-label"
              },
              id: "descriptionFour",
              name: "descriptionFour",
              value: form.descriptionFour.value,
              errorMessage: form.descriptionFour.error
            }) }}

          {{ govukInput({
              label: {
                text: messages('description.descriptionFive'),
                isPageHeading: true,
                classes: "govuk-label"
              },
              id: "descriptionFive",
              name: "descriptionFive",
              value: form.descriptionFive.value,
              errorMessage: form.descriptionFive.error
            }) }}


          {{ govukButton({
            text: messages("site.continue")
          }) }}

        </form>

      </div>
    </div>
  </div>

{% endblock %}
